<form action="/koopas" method="POST" id="form">

	<label for="new_koopa_name">Name</label>
	<input type="text" name="name" placeholder="koopa name" id="new_koopa_name">
	<br />

	<labe for="Has_Shell?">Has Shell?</label>
	<label for="has_yes">Yes</label>
	<input type="radio" name="has_shell" value="does-have-shell" id="has_yes" checked />

	<label for="shell_no">No</label>
	<input type="radio" name="has_shell" value="has-no-shell" id="shell_no" />
	</label>

	 <label>Check One for Shell Color:</label>
     <input type 	= "checkbox"
            name 	= "color"
             id   	= "color"
          	value 	= "red" />
     <label for = "red">red</label>

     <input type 	= "checkbox"
            name 	= "color"
             id   	= "color"
          	value 	= "green" />
     <label for = "green">green</label>

    <input type 	= "checkbox"
            name 	= "color"
             id   	= "color"
          	value 	= "mauve" />
     <label for = "mauve">mauve</label>

     <input type 	= "checkbox"
            name 	= "color"
             id   	= "color"
          	value 	= "blue" />
     <label for = "blue">blue</label>

    <label for="new_koopa_pic">Name</label>
	<input type="text" name="photo_url" placeholder="photo url" id="new_koopa_pic">

	<br />

	<input type="submit" value="Create Koopa">
</form>

<!-- actually posting the data to the db -->
        